.page {
  width: 100%;
  height: 100%;
  padding: 0 8rem;

  .page__content {
    position: relative;
    width: 100%;
    max-width: 1280px;
    min-height: 80vh;
    margin: 10vh auto;
    background: linear-gradient(#0b7080, #0ba376);
    box-shadow: 0 0 100px -5px rgb(0 0 0 / 25%);
    border-radius: 32px;
  }
}
