.project {
  position: absolute;
  top: 0;
  right: 0;
  background-color: #ffffff;
  height: 100%;
  @supports (-webkit-touch-callout: none) {
    /* iOS only */
    height: -webkit-fill-available;
  }
  width: calc(100% - 380px);
  border-radius: 32px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 2rem;
}

@media (max-width: 1300px) {
  .project {
    width: calc(100% - 320px);
  }
}

@media (max-width: 1024px) {
  .project {
    width: 100%;
    border-radius: 0;
  }
}
