@charset 'utf-8';
html {
  font-family: "Noto Sans KR", sans-serif;
  font-size: 14px;
  -webkit-text-size-adjust: none;
  text-size-adjust: none;
  width: 100%;
  // height: 100%;
  height: -webkit-fill-available;
  overflow: hidden;
}
body {
  min-height: 100vh;
  /* mobile viewport bug fix */
  min-height: -webkit-fill-available;
  -webkit-font-smoothing: antialiased;
  background-color: #edf3f7;
}

.white-space-v {
  padding-top: 3rem;
}
