@charset 'utf-8';
@import "~react-image-gallery/styles/css/image-gallery.css";
html {
  font-family: "Noto Sans KR", sans-serif;
  font-size: 14px;
  -webkit-text-size-adjust: none;
  text-size-adjust: none;
  overflow: hidden;
}
body {
  -webkit-font-smoothing: antialiased;
  background-color: #edf3f7;
  overflow: hidden;
}

.white-space-v {
  padding-top: 3rem;
}
