.project {
  padding-bottom: 100%;
  position: relative;
  border-radius: 3px;
  margin-bottom: 30px;
  box-shadow: rgb(15 15 15 / 10%) 0px 0px 0px 1px,
    rgb(15 15 15 / 10%) 0px 2px 4px;

  .project__content {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    transition: all ease-in-out 0.2s;
    cursor: pointer;
    z-index: 1;

    &:hover {
      filter: brightness(85%);
    }

    .project__thumbnail {
      background-color: #0ba376;
      height: calc(100% - 5rem);
    }

    .project__desc {
      background-color: white;
      height: 5rem;
      padding: 0.7rem 0 0 1rem;
      color: #333333;

      i {
        margin-right: 0.4rem;
      }

      .desc__title {
        font-size: 1.1rem;
        // font-weight: bold;
      }
      .desc__period {
        font-size: 0.9rem;
        margin: 0.4em 0 0.4em 0;
      }
      .desc__skills {
        font-weight: bold;
        color: #555555;
        font-size: 0.85rem;
      }
    }
  }
}
