.me {
  position: absolute;
  top: 0;
  right: 0;
  background-color: #2e313d;
  height: 100%;
  width: calc(100% - 380px);
  border-radius: 32px;

  .me__content {
    width: 100%;
    height: 100%;
    padding: 3rem;
    overflow: auto;

    .me__title {
      display: inline-block;
      font-size: 2.5rem;
      font-weight: bold;
      position: relative;
      margin-bottom: 1em;
      padding-left: 15px;

      span {
        color: #7392ff;
      }

      &::after {
        position: absolute;
        opacity: 0.45;
        top: 0.5em;
        right: -0.8em;
        content: "";
        height: 1em;
        width: 1.5em;
        background-image: -webkit-repeating-radial-gradient(
          center center,
          #7392ff,
          #7392ff 1px,
          transparent 0px,
          transparent 100%
        );

        background-size: 6px 6px;
      }
    }

    .me__introduce {
      font-size: 1.1rem;
      line-height: 1.6em;
      color: #d8dbe7;
    }

    .me__contact {
      font-size: 1rem;
      margin-bottom: 1.3em;
      color: #d8dbe7;

      .contact__title {
        display: inline-block;
        color: #7392ff;
        font-weight: bold;
        margin-right: 0.7em;
      }
    }

    .me__experience {
      margin-bottom: 3rem;

      .experience__title {
        font-size: 1.5rem;
        font-weight: bold;
        display: inline-block;
        position: relative;
        margin-bottom: 1em;

        span {
          color: #7392ff;
        }

        &::after {
          position: absolute;
          opacity: 0.45;
          top: 0.5em;
          right: -0.8em;
          content: "";
          height: 0.8em;
          width: 1.5em;
          background-image: -webkit-repeating-radial-gradient(
            center center,
            #7392ff,
            #7392ff 1px,
            transparent 0px,
            transparent 100%
          );

          background-size: 6px 6px;
        }
      }
    }

    .me__certificate {
      margin-bottom: 3rem;

      .certificate__title {
        font-size: 1.5rem;
        font-weight: bold;
        display: inline-block;
        position: relative;
        margin-bottom: 1em;
        color: #7392ff;

        &::after {
          position: absolute;
          opacity: 0.45;
          top: 0.5em;
          right: -0.8em;
          content: "";
          height: 0.8em;
          width: 1.5em;
          background-image: -webkit-repeating-radial-gradient(
            center center,
            #7392ff,
            #7392ff 1px,
            transparent 0px,
            transparent 100%
          );

          background-size: 6px 6px;
        }
      }
    }

    .me__education {
      .education__title {
        font-size: 1.5rem;
        font-weight: bold;
        display: inline-block;
        position: relative;
        margin-bottom: 1em;
        color: #7392ff;

        &::after {
          position: absolute;
          opacity: 0.45;
          top: 0.5em;
          right: -0.8em;
          content: "";
          height: 0.8em;
          width: 1.5em;
          background-image: -webkit-repeating-radial-gradient(
            center center,
            #7392ff,
            #7392ff 1px,
            transparent 0px,
            transparent 100%
          );

          background-size: 6px 6px;
        }
      }
    }

    .me__tech-skill {
      .tech-skill__title {
        font-size: 1.5rem;
        font-weight: bold;
        display: inline-block;
        position: relative;
        margin-bottom: 1em;

        span {
          color: #7392ff;
        }

        &::after {
          position: absolute;
          opacity: 0.45;
          top: 0.5em;
          right: -0.8em;
          content: "";
          height: 0.8em;
          width: 1.5em;
          background-image: -webkit-repeating-radial-gradient(
            center center,
            #7392ff,
            #7392ff 1px,
            transparent 0px,
            transparent 100%
          );

          background-size: 6px 6px;
        }
      }
    }
  }
}

@media (max-width: 1300px) {
  .me {
    width: calc(100% - 320px);
  }
}

@media (max-width: 1024px) {
  .me {
    width: 100%;
    border-radius: 0;
  }
}

@media (max-width: 576px) {
  .me {
    .me__content {
      .me__introduce {
        margin-bottom: 3rem;
      }

      .me__tech-skill {
        margin-top: 3rem;
      }
    }
  }
}
